<h3><%= @user.name %> 様</h3>
<p>お世話になっております、こちらLIME ECサイトになります。</p>
<p>この度は、ご購入頂きありがとうございました。</p>
<br>
<p>ご購入頂きました商品はこちらになります。</p>
<h5><%= @product.title %></h5>
<p><%= @product.price %>円(消費税・送料込み)</p>
<br>
<p>商品は7日以内に発送致しますので少々お待ち下さい。</p>
<br>
<p>今後とも LIME を宜しくお願いいたします。</p>
<br>
<h4>LIME</h4>
<br>
