// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media(min-width:961px){

/*リセット*/
*{
  margin:0;
  padding:0;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
}

p{
   margin-block-start: 0px;
   margin-block-end: 0px;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   white-space: pre-wrap;
}

body{
  background-color: #DCDCDC;
}



/* application.html.erb */
/* header */
header{
  height:140px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  display: block;
  background: #222222;
}

/* logo */
.logo{
  width:140px;
  vertical-align: top;
}

/* LIMEの文字 */
#header-message{
  margin-left:10px;
  color:black;
  font-size: 100px;
  line-height: 140px;
  letter-spacing: 12px;
  text-shadow: 4px 4px 1px silver;
  text-align:center;
  display:inline-block;
}

/*home-image*/
.home-image{
  width:100%;
  margin-bottom:50px;
}




/* footer */
footer{
  height:210px;
  background: #222222;
  color:white;
  width:100%;
  position: relative;
  bottom:0;
}

.footer-right a:link,.footer-right a:visited,.footer-right a:active{
  color:white;
  margin-left:5px;
  display:inline-block;
  padding:0 20px;
}

.footer-right a:hover{
  background-color: #444444;
}

.footer-right{
float:right;
line-height: 70px;
padding:0 20px;
}


/* ログイン中のユーザ表示 */
.login-user{
  color:white;
  line-height: 70px;
}

.login-user p{
  margin:0;
  padding:0 20px;
}

/* 特定商取引法表示リンク */
.notation{
  padding: 10px;
}

.notation a:link, .notation a:visited, .notation a:hover, .notation a:active{
  color:white;
}

/* フッター　SNS */
.sns-title{
  padding:10px 5px 5px 5px;
}

.snss{
  width:500px;
  margin:0 auto;
  display: block;
  line-height: 70px;
}

.snss a:link, .snss a:visited, .snss a:active{
  opacity:0.9;
  color:white;
  border-radius:7px;
  transition:all 0.4s;
  padding:15px 25px;
}

.snss a:hover{
  opacity:1;
  cursor:pointer;
}

.twitter{
  background-color:#55acee;
  margin-right:5px;
}

.fab{
  padding-right:5px;
}

.instagram{
  background-color: #FF3366;
  margin-right:5px;
}

.youtube{
  background-color: #CC0000;
}






/* 共通レイアウト */
a{
  text-decoration: none;
  cursor: pointer;
}

a:hover{
　text-decoration: none;
}

a:link, a:hover, a:visited, a:active{
  color:black;
}







/* フォーム */
.form-wrapper{
  width:50%;
  margin:0 auto;
}

.form input,.form textarea{
  width:100%;
  margin: 0px 0px 30px 0px;
}
.form img{
  margin: 0px 0px 30px 0px;
}

.img input{
  border: 1px solid black;
}

/* flash */
.flash {
  padding: 10px 0;
  color: white;
  background: #444444;
  text-align: center;
  position: absolute;
  top: 0px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 18px;
}



/* products/index.html.erb プロダクト一覧ページ */

  /* ラッパー　フレックスボックスで折返し設定 */
  .wrapper{
    display:flex;
    flex-wrap:wrap;
  }

  /* 各プロダクト 50%で折り返し　パディング左右にとって、下方向にマージンで余白*/
  .product{
    flex:auto;
    width:50%;
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom:20px;
  }

  /* 商品レイアウト(タイトル以外)　背景色・影・マージン・パディング・カラー */
  .product-description,.product-price, .product-stock_quantity, .product-show, .product-image-wrapper,.product-image-wrapper-1,.product-image-wrapper-2,.product-image-wrapper-3,.product-image-wrapper-4{
    background-color: #444444;
    border: 1px solid #CCCCCC;
    color:black;
    margin:0 auto;
    padding:10px;
  }

  /* 商品レイアウト(タイトル) */
  .product-title{
    margin:0 auto;
    padding:10px;
    background-color: #222222;
    border: 1px solid white;
    border-radius: 50px 50px 0px 0px;
    height:70px;
    overflow: scroll;
  }

  .product-title p{
    color:#CCCCCC;
    line-height: 70px;
    font-size: 20px;
    font-weight: bold;
    margin:0;
  }

  /* プロダクト写真ラッパー */
  .product-image-wrapper,.product-image-wrapper-1,.product-image-wrapper-2,.product-image-wrapper-3,.product-image-wrapper-4{

  }

  .product-image,.product-image-1,.product-image-2,.product-image-3,.product-image-4{
    cursor:pointer;
  }

  .product-image-p{
    color:#808080;
  }

  /* プロダクト写真ラッパー　前の写真・次の写真のアイコン設定 */
  .fa-chevron-circle-right{
    cursor:pointer;
    font-size: 20px;
  }

  .next-img, .next-img-1, .next-img-2, .next-img-3{
    font-size:40px;
  }

  .fa-chevron-circle-left{
    cursor:pointer;
    font-size: 20px;
  }

  .previous-img-1, .previous-img-2, .previous-img-3, .previous-img-4{
    font-size:40px;
  }

  .product-more-image-link{
    height:30px;
  }

  /* プロダクト説明ラッパー */
  .product-description{
    height:150px;
    overflow: scroll;
  }

  .product-description-buy{
    height:200px;
    overflow: scroll;
  }

  /* プロダクト値段・プロダクト在庫ラッパー */
  .product-price, .product-stock_quantity{

  }

  #product-price{
    border-radius: 0px 0px 50px 50px;
  }

  #product-stock_quantity{
    border-radius: 0px 0px 50px 50px;
  }

  #price{
    font-size:20px;
    font-weight: bold;
  }

  /* プロダクト購入・プロダクト編集リンク */
  .product-show{
    height: 70px;
    border-radius: 0px 0px 50px 50px;
  }

  .product-show a:link,.product-show a:hover,.product-show a:visited,.product-show a:active{
    color:#333333;
    cursor: pointer;
    display: block;
    line-height: 40px;
    background-color: #A9A9A9;
    border: 1px solid #111111;
    box-shadow: 0 2px 2px #111111;
    border-radius: 50px 50px 50px 50px;
  }

  .product-show a:hover{
    background-color: #A9A9A9;
  }

  .admin-btn-wrapper{
    padding: 30px;
  }

  .admin-btn{
    display: inline-block;
    font-size: 30px;
    box-shadow: 0 2px 6px #111111;
    width:150px;
    margin:0 auto;
    margin-bottom:20px;
    background-color: #A9A9A9;
  }

  .admin-btn a{
    display: block;
  }



/* モダル */
  .img-modal-wrapper,.img-modal-wrapper-1,.img-modal-wrapper-2,.img-modal-wrapper-3,.img-modal-wrapper-4 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
  }



  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }



  .close-modal{
    float:right;
    font-size:30px;
    color:white;
  }

  .fa-remove{
    cursor:pointer;
  }


/* buyページ */
.reload-btn{
  text-decoration: underline;
}

.reload-btn a:link{
  font-size: 15px;
  color:#800000;
}

.buy-login p{
  font-size:15px;
  color:#333333;
  margin-bottom:10px;
}

.buy-login a:link, .buy-login a:visited{
  font-size: 15px;
  color:#333333;
  background-color: #FFFAFA;
  padding:10px;
  border-radius: 30px;
  transition: 0.5s;
}

.buy-login a:hover{
  font-size: 18px;
  color:#333333;
  background-color: #FFFAFA;
  padding:13px;
  border-radius: 30px;
}


/*オーダーページ*/
.order-wrapper{
  width:60%;
  margin:0 auto;
  margin-bottom:30px;
  background-color: #C0C0C0;
  box-shadow: 2px 2px 2px #111111;
}

.order-name,.order-email,.order-address,.order-product-title,.order-product-price,.order-product-stock_quantity,.order-product-image,.order-created_at{
  box-shadow: 1px 1px 1px #111111;
}

.order-product-image{
  padding:10px;
}

.order-created_at{
  background-color: #AAAAAA;
}

/* 特定商取引法表示 */
.notation-wrapper{
  width:70%;
  margin:0 auto;
}

.notation-title{
  font-size:30px;
  border-bottom:2px solid black;
  margin-bottom: 10px;
}

.notation-description-title{
  font-size:20px;
  border-bottom:1px solid #696969;
}

.notation-wrapper p{
  font-size:12px;
  margin-bottom:20px;
}


/* 特定商取引法表示　showページ */
.notation-wrapper-2{
  width:70%;
  margin:0 auto;
}

.notation-product, .notation-personal, .notation-leader{
  background-color: #CCCCCC;
  border:1px solid #111111;
  box-shadow: 1px 1px 1px #111111;
}

.notation-btn{
  height: 35px;
}

.notation-btn p{
  display: inline-block;
  font-size: 20px;
  line-height: 35px;
}

.notation-list-item p{
  font-size: 15px;
}

.notation-list-item{
  margin:15px 0px;
}

.notation-btn .fa{
  color:#333333;
}

.notation-btn .fa:hover{
  cursor:pointer;
}

.fa-plus-square, .fa-minus-square{
  cursor:pointer;
}


/* ユーザ登録画面 */
.registration-message p{
  font-size:13px;
  color: #808080;
}
.registration-message a{
  text-decoration: underline;
}

}
