<div class="notation-wrapper">

  <div class="notation-title">
    <h1>特定商取引法表示</h1>
  </div>



  <div class="notation-description-title">
    <h3>販売事業主・運営責任者・販売責任者</h3>
  </div>

  <p>瀬川　翔</p>
  <div class="notation-description-title">
    <h3>所在地</h3>
  </div>

  <p>千葉県市川市曽谷5-31-7</p>

  <div class="notation-description-title">
    <h3>電話番号</h3>
  </div>

  <p>070-1254-1997</p>

  <div class="notation-description-title">
    <h3>メールアドレス</h3>
  </div>

  <p>lime.lime.lime.jp@gmail.com</p>

  <div class="notation-description-title">
    <h3>お支払い方法</h3>
  </div>

  <p>クレジットカード決済のみ</p>

  <div class="notation-description-title">
    <h3>商品代金以外の必要料金</h3>
  </div>

  <p>頂戴しておりません。送料や消費税等全て記載の料金に含まれています。</p>

  <div class="notation-description-title">
    <h3>商品の引渡し時期</h3>
  </div>

  <p>
    購入完了時にお客様宛てに自動でメールをお送りいたします。
    <br>
    メールをお送りした時間を起点として7日以内に発送致します。
    <br>
    こちらの都合で7日以上お時間を頂く場合には、別途メールをお送りします。
    <br>
    ご了承ください。
  </p>

  <div class="notation-description-title">
    <h3>返品・交換について</h3>
  </div>

  <p>不良品、輸送中の破損、誤品の場合のみ返金、もしくは交換致します。
  <br>
  商品到着より7日以内にご連絡の上、上記住所までご返送下さい。
  <br>
  送料はこちらで負担致します。
  <br>
  また以下のような場合は返品をお受けできません。
  <br><br>
  ・商品到着後、７日以上経過した商品
  <br>
  ・一度ご使用になられた商品（使用後不良品とわかった場合を除く）
  <br>
  ・お客様のもとでキズや汚れが生じた商品
  <br><br>
  交換の際に同商品がない場合は、返金とさせていただきます。
  <br>
  予めご了承ください。</p>


  <div class="notation-title">
    <h1>個人情報保護法表示</h1>
  </div>
  <p>
  当Webサイトでは、個人情報を適切に利用するとともに、そのセキュリティ管理を徹底致します。
  <br>
  業務上知り得た個人情報の内容をみだりに第三者に開示し、叉は不当な目的に使用致しません。
  <br>
  下記利用目的の範囲内で、具体的な業務にしたがって権限を与えられた者のみが取り扱いを行い、
  <br>
  利用目的の上で必要な限りにおいて取り扱うものと致します。
  <br><br>
  【利用目的】
  <br>
  当Webサイトが取り扱う商品の提供、返品交換等への対応
  </p>

  <br><br>

</div>


<div class="admin-btn">
  <%= link_to("戻る", root_path) %>
</div>

<br><br>
